@import 'assets/sass/variables';
$dialogActionButtonWidth: $minButtonWidth;

.locationForm {
  display: flex;
  flex-direction: column;
  margin: $grid-base 0 0 0;
  width: 100%;
  @media screen and (max-width: $bp-md) {
    width: auto;
  }
  .headerInput { 
    display: flex;
    width: 100%;
    .headerInputContainer {
      width: 33.33%;
      padding: 0 $grid-small 0 0;
      &:last-child {
        padding: 0 0 0 0;
      }
    }
  }
  .addressDetails {
    display: flex;
    width: 100%;
    .addressInputContainer {
      width: 33.33%;
      padding: 0 $grid-small 0 0;
      &:last-child {
        padding: 0 0 $grid-base 0;
      }
    }
  }
  .formField {
    margin: 0 $grid-large 0 0;
  }
  .locationName, .locationAddress, .locationType, .phoneNumber {
    width: 100%;
    margin: 0 0 $grid-large 0;
  }
  .locationCity, .locationState, .locationPostal {
    width: 100%;
  }
  .saveButton {
    display: block;
    margin-left: auto;
  }
  .divider {
    margin: $grid-base 0 $grid-large 0;
  }
  .isActiveCheckbox {
    display: none;
  }
}
