@import 'assets/sass/variables';

.tabPanelContainer {
  display:flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.tabContainer {
  border-bottom: $border-default;
  margin-bottom: $grid-base;
}
.tab {
  font-size: 15px;
  font-weight: 500;
}
.tabPanelContent {
  height: 100%;
}