@import 'assets/sass/variables';

.homepage {
  width: 100%;
  .title {
    margin-bottom: $grid-tiny;
  }
  .divider {
    margin-top: $grid-base;
    margin-bottom: $grid-base;
  }
  .homepageCards {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    .homepageCard {
      display: flex;
      width: 24.95%;
      @media screen and (max-width: $bp-md) {
        width: 49.95%;
      }
      @media screen and (max-width: $bp-sm) {
        width: 100%;
      }
      .homepageCardContent {
        width: 100%;
        margin: $grid-small;
        padding: $grid-large;
        border: $border-disabled;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        @media screen and (max-width: $bp-md) {
          width: 100%;
          padding: $grid-base;
        }
        &:hover {
          border-color: $color-primary;
          cursor: pointer;
        }
        h3 {
          margin: 0;
          text-align: center;
          font-size: 24px;
        }
        p {
          margin: 0;
          font-size: 16px;
          text-align: center;
        }
        .cardIcon {
          color: $color-primary;
          margin-bottom: $grid-base;
          font-size: 72px;
        }
      }
    }
  }
}