@import 'assets/sass/variables';

.contentContainer {
  flex-grow: 1;
  margin-top: $headerHeight;
  padding: $grid-large;
  margin-left: $sidebarWidth;
  @media screen and (max-width: $bp-sm) {
    margin-left: 0;
    padding: $grid-base;
  }
}

.noPadding {
  padding: 0;
}