@import 'assets/sass/variables';
@import 'assets/sass/application';

.contentContainer {
  flex-grow: 1;
  margin-top: $header-height;
  padding: $grid-large;
  margin-left: $sidebar-width;
  @media screen and (max-width: $bp-sm) {
    margin-left: 0;
    padding: $grid-base;
  }
}

.noPadding {
  padding: 0;
}