@import 'assets/sass/variables';
@import 'assets/sass/application';

.sidebarContainer {
  display: flex;
  width: $sidebar-width;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  position: fixed;
  height: 100%;
  z-index: 888;
  @media screen and (max-width: $bp-sm) {
    display: none;
  }
  .desktopContainer {
    width: $sidebar-width;
    background-color: $color-primary;
    color: $color-white;
    display: flex;
    .navbarList {
      width: 100%;
      padding: $header-height 0 0 0;
      overflow-x: auto;
      scrollbar-width: none;
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        width: $sidebar-width;
        height: $sidebar-width;
        &:hover {
          cursor: pointer;
          background-color: $color-black;
        }
        .navItem {
          display: flex;
          align-items: center;
          justify-content: center;
          width: $sidebar-width;
          height: $sidebar-width;
          .navIcon {
            font-size: $sidebar-icon-size;
          }
        }
        .activeNavItem {
          background-color: $color-black;
          color: $color-white;
        }
      }
    }
    .subMenuContainer {
      left: $sidebar-width;
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 0;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      padding: 0;
      color: $color-black;
      background-color: $color-white;
      box-shadow: $box-shadow;
      border-right: $border-default;
      -webkit-transition: width 0.5s;
      transition: width 0.5s;
      scrollbar-width: thin;
      .subMenuLinks {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        .subMenuLink {
          white-space: nowrap;
          color: $color-black;
          text-decoration: none;
          padding: $grid-base;
          display: flex;
          align-items: center;
          border-bottom: $border-disabled;
          &:last-child {
            border-bottom: unset;
          }
          &:hover {
            background-color: $offset-color;
            color: $color-black;
            cursor: pointer;
          }
        }
        .activeSubMenuLink {
          background-color: $color-black;
          color: $color-white;
          font-weight: 500;
          &:hover {
            background-color: $color-black;
            color: $color-white;
          }
        }
        .subNavIcon {
          margin-right: $grid-small;
        }
      }
      h4 {
        margin-top: $header-height;
        padding: $grid-base;
        border-bottom: $border-disabled;
      }
    }
    .activeSubmenu {
      width: 200px;
      overflow-y: unset;
    }
  }
}
