@import 'assets/sass/variables';

.restaurantImagesContainer {
  margin-top: $grid-large;
  .restaurantImages {
    display: flex;
    @media screen and (max-width: $bp-sm) {
      flex-direction: column;
    }
    .imageContainer {
      display: flex;
      width: 33.33%;
      @media screen and (max-width: $bp-sm) {
        width: 100%;
      }
      &:first-child {
        .imageContent {
          padding-left: 0;
        }
      }
      &:last-child {
        .imageContent {
          padding-right: 0;
          @media screen and (max-width: $bp-sm) {
            margin-bottom: 0;
          }
        }
      }
      .imageContent {
        width: 100%;
        display: flex;
        padding: 0 $grid-base 0 $grid-base;
        flex-direction: column;
        @media screen and (max-width: $bp-sm) {
          padding: 0;
          margin-bottom: $grid-large;
        }
        h4 {
          margin-bottom: 0;
        }
        img {
          max-width: 225px;
          border: $border-default;
          width: 100%;
          background-color: white;
        }
        .subTitle {
          font-size: 14px;
          line-height: 24px;
          margin-bottom: $grid-small;
        }
        .buttonContainer {
          margin-top: $grid-small;
          button {
            margin-left: auto;
          }
        }
      }
    }
  }
}