@import 'assets/sass/variables';

.mediaFileListContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  .mediaFilesContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: $grid-base;
    .thumbnailContainer {
      width: 10%;
      @media screen and (max-width: $bp-md) {
        width: 16.66%;
      }
      @media screen and (max-width: $bp-sm) {
        width: 20%;
      }
      @media screen and (max-width: $bp-xs) {
        width: 33.33%;
      }
    }
    .mediaFileListItem {
      margin: $grid-small;
      border: $border-dark-gray-thick;
      height: unset;
      aspect-ratio: 1 / 1;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      &:hover {
        border: $border-primary-thick;
        cursor: pointer;
      }
    }
  }
  .paginationContainer {
    margin-top: auto;
    display: flex;
    justify-content: center;
  }
}
