@import 'assets/sass/variables';

.grubListContainer {
  border: $border-default;

  .grubListSubHeader {
    display: flex;
    align-items: center;
    padding-right: 8px !important;
    background-color: $color-primary;
    color: $white-color;
  }
  .subHeaderButton {
    margin-left: auto;
    max-height: 33px;
  }
  .grubListActions {
    display: flex;
    .buttonContainer {
      width: 36px;
    }
  }
  li {
      border-bottom: $border-default;
      &:last-child { 
        border-bottom: none;
      }
  }
}