@import 'assets/sass/variables';
$builderDetailsCardWidth: 300px;

.builderToolContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0 auto;
  padding: 0;
  .builderTool {
    width: 100%;
    height: 100%;
    display: flex;
    @media screen and (max-width: $bp-md) {
      flex-direction: column;
    }
    .builderDetailsContainer {
      width: $builderDetailsCardWidth;
      background-color: #ffffff;
      position: fixed;
      right: 0;
      top: 105px;
      margin-right: $grid-base;
      overflow-y: auto;
      height: calc(100vh - 125px);
      scrollbar-width: thin;
      @media screen and (max-width: $bp-md) {
        position: unset;
        width: 100%;
        height: unset;
        overflow-y: unset;
        margin-bottom: $grid-large;
      }
      .builderDetails {
        width: 100%;
        .nutritionLabel {
          background-color: $offset-color;
        }
        .varietyList {
          margin-top: $grid-base;
        }
      }
      .builderCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        border: $border-default;
        border-bottom: solid 4px $color-primary;
        img {
          max-width: 200px;
          margin: $grid-base 0 $grid-small 0;
        }
        h3 {
          margin: $grid-small $grid-base $grid-small $grid-base;
        }
        p {
          margin: 0 $grid-base $grid-base $grid-base;
        }
      }
    }
    .builderContent {
      width: calc(100% - $builderDetailsCardWidth);
      height: 100%;
      display: flex;
      flex-direction: column;
      @media screen and (max-width: $bp-md) {
        width: 100%;
        margin-top: $grid-base;
      }
      .builderListContainer {
        width: 100%;
        height: 100%;
      }
      .builderHeader {
        h2 {
          margin: 0 0 $grid-base 0;
        }
        @media screen and (max-width: $bp-xs) {
          text-align: center;
          margin: $grid-base 0 $grid-small 0;
        }
      }
    }
  }
}
