@import 'assets/sass/variables';

.headerContainer {
  position: fixed;
  z-index: 999;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: $headerHeight;
  background-color: $headerBackgroundColor;
  align-items: center;
  justify-content: right;
  .headerContent {
    display: flex;
    width: 100%;
    height: $headerHeight;
    align-items: center;
    .logoContainer {
      padding: 0 $grid-base 0 $grid-base;
      @media screen and (max-width: $bp-sm) {
        margin: 0 auto 0 auto;
      }
      a {
        display: flex;
        align-items: center;
        .logoImage {
          max-width: $headerLogoWidth;
        }
      }
    }
  }
}