@import 'assets/sass/variables';
$confirmationDialogWidth: 360px;

.confirmationDialogContainer {
  min-width: $confirmationDialogWidth;
  padding: $grid-large;
  @media screen and (max-width: $bp-xs) {
    min-width: unset;
  }
}
.confirmationDialogTitle {
  margin: 0 0 $grid-small 0;
}
.confirmationDialogButton {
  min-width: $minButtonWidth;
}
.confirmationDialogButtonContainer {
  display: flex;
  justify-content: right;
  margin-top: $grid-base;
  margin-bottom: 0;
  button {
    margin-right: $grid-small;
    &:last-child {
      margin-right: 0;
    }
  }
}
.confirmationMessage {
  margin-bottom: $grid-base;
}