@import 'assets/sass/variables';

.employeeContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  .divider {
    margin-bottom: $grid-base;
  }
  .employeeTableContainer {
    width: 100%;
    height: 100%;
    margin-top: $grid-small;
    @media screen and (max-width: $bp-md) {
      display: none;
    }
  }
  .employeeListContainer {
    width: 100%;
    height: 100%;
    display: none;
    margin-top: $grid-small;
    @media screen and (max-width: $bp-md) {
      display: flex;
      flex-direction: column;
    }
  }
  .warningMessageContainer {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h2,
    p {
      text-align: center;
    }
    p {
      margin-top: $grid-small;
      margin-bottom: $grid-small;
    }
    @media screen and (max-width: $bp-xs) {
      h2,
      p {
        padding: 0 $grid-base 0 $grid-base;
      }
    }
  }
  .warningHeadline {
    margin: 0;
  }
  .nameContainer {
    display: flex;
    align-items: center;
    h6 {
      margin-bottom: 0;
    }
    img {
      max-width: 60px;
      margin-right: $grid-base;
    }
  }
  .employedStatus {
    padding: $grid-tiny;
    color: #fff;
    &.active {
      background-color: green;
    }
    &.terminated {
      background-color: red;
    }
    &.suspended {
      background-color: orange;
    }
  }
}
