@import 'assets/sass/variables';

.employeeContainer {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  .employeeTableContainer {
    width: 100%;
    @media screen and (max-width: $bp-md) {
      display: none;
    }
  }
  .employeeListContainer {
    width: 100%;
    display: none;
    @media screen and (max-width: $bp-md) {
      display: block;
    }
  }
  .warningMessageContainer {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @media screen and (max-width: $bp-xs) {
      h2, p {
        text-align: center;
        padding: 0 $grid-base 0 $grid-base;
      }
    }
  }
  .warningHeadline {
    margin: 0;
  }
  .nameContainer {
    display: flex;
    img {
      max-width: 60px;
      margin-right: $grid-base;
    }
  }
  .employedStatus {
    padding: $grid-tiny;
    color: #fff;
    &.active {
      background-color: green; 
    }
    &.terminated {
      background-color: red;
    }
    &.suspended {
      background-color: orange;
    }
  }
}