@import 'assets/sass/variables';
$dialogActionButtonWidth: $min-button-width;
$ingredientFormWidth: 400px;

.ingredientForm {
  background-color: $color-white;
  width: $ingredientFormWidth;
  margin: 0;
  @media screen and (max-width: $bp-md) {
    width: auto;
  }
  .thumbnailContainer {
    display: flex;
    .thumbnail {
      margin-right: $grid-base;
      margin-bottom: $grid-large;
      img {
        max-width: 130px;
        margin: 0 auto 0 auto;
        display: block;
        border: $border-gray-primary;
        padding: $grid-small;
      }
      button {
        min-width: 150px;
        width: 100%;
        margin-top: $grid-base;
      }
    }
    .headerInput {
      width: 100%;
    }
  }
  .formField {
    width: 100%;
    margin: 0 $grid-base 0 0;
  }
  .decimalField {
    margin-right: $grid-base;
    &:last-child {
      margin-right: 0;
    }
  }
  .decimalFields {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: $grid-base;
  }
  .ingredientName,
  .ingredientDescription,
  .ingredientThumbnail {
    width: 100%;
    margin: 0 0 $grid-base 0;
  }
  .thumbnailUrl {
    display: none;
  }
  .lastField {
    margin-right: $grid-base;
  }
  .saveButton {
    display: block;
    margin-left: auto;
    @media screen and (max-width: $bp-sm) {
      width: 100%;
    }
  }
  .divider {
    margin-bottom: $grid-base;
  }
}
