@import 'assets/sass/variables';
$storeFormWidth: 500px;
$storeFormHeight: 500px;
$dialogActionButtonWidth: $minButtonWidth;

.storeForm {
  display: flex;
  flex-direction: column;
  width: $storeFormWidth;
  min-height: $storeFormHeight;
  margin: 0;
  @media screen and (max-width: $bp-md) {
    width: auto;
  }
  .storeImageContainer {
    display: flex;
    .storeImage {
      margin-right: $grid-base;
      margin-bottom: $grid-large;
      img {
        max-width: 130px;
        margin: 0 auto 0 auto;
        display: block;
        border: $border-gray-primary;
        padding: $grid-small;
      }
      button {
        min-width: 150px;
        width: 100%;
        margin-top: $grid-base;
      }
    }
    .storeMainInputContainer {
      width: 100%;
    }
  }
  .addressDetails {
    display: flex;
    width: 100%;
    .addressInputContainer {
      width: 33.33%;
      padding: 0 $grid-base 0 0;
      &:last-child {
        padding: 0 0 $grid-base 0;
      }
    }
  }
  .formField {
    margin: 0 $grid-base 0 0;
  }
  .storeName, .storeAddress, .storeType, .thumbnailUrl {
    width: 100%;
    margin: 0 0 $grid-base 0;
  }
  .storeCity, .storeState, .storePostal, .thumbnailUrl {
    width: 100%;
  }
  .thumbnailUrl {
    display: none;
  }
  .saveButton {
    display: block;
    margin-left: auto;
  }
  .divider {
    margin: $grid-base 0 $grid-base 0;
  }
  .storeFormMenuList {
    flex-grow: 1;
  }
}
