@import 'assets/sass/variables';

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  background-color: #fafafa;
  color: #282828;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }
h4 { font-size: $font-size-h4; }
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: $grid-base 0 $grid-tiny 0;
  font-family: 'Roboto', sans-serif;
}
p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}
.MuiDialog-paper {
  max-width: unset !important;
}
.MuiButton-contained, .MuiButton-outlined, .MuiButton-text {
  box-shadow: none !important;
}
.MuiDialogTitle-root {
  padding: $grid-base;
}
.MuiDialog-paper {
  max-height: unset;
}
.MuiTableCell-head {
  border-bottom: $border-default;
}
.MuiTabs-flexContainer {
  @media screen and (max-width: $bp-sm) {
    flex-wrap: wrap;
  }
}
.MuiList-root {
  padding-bottom: 0;
}
.MuiListItemButton-root:hover {
  background-color: unset;
}
.MuiTableRow-head {
  background-color: $color-secondary;
  th {
    color: white;
  }
}
.MuiTableContainer-root {
  border: $border-default;
}
.MuiTabs-indicator {
  @media screen and (max-width: $bp-xs) {
    display: none !important;
  }
}
.MuiTabs-flexContainer {
  .Mui-selected {
    @media screen and (max-width: $bp-xs) {
      border-bottom: solid 3px $color-primary;
    }
  }
}