@import 'assets/sass/variables';

.restaurantColors {
  margin-top: $grid-large;
  .colorsList {
    display: flex;
    flex-wrap: wrap;
    .colorContainer {
      margin-bottom: $grid-large;
      width: 24.95%;
      @media screen and (max-width: $bp-sm) {
        width: 49.95%;
      }
      @media screen and (max-width: $bp-xs) {
        width: 100%;
        &:last-child {
          margin-bottom: $grid-small;
        }
      }
      &:nth-child(even) {
        .colorContent {
          @media screen and (max-width: $bp-sm) {
            margin-right: 0;
          }
        }
      }
      .colorContent {
        margin-right: $grid-base;
        @media screen and (max-width: $bp-sm) {
          margin-right: $grid-large;
        }
        @media screen and (max-width: $bp-xs) {
          margin-right: 0;
        }
        h4 {
          margin-bottom: 0;
        }
        .subTitle {
          font-size: 14px;
          line-height: 24px;
          margin-bottom: $grid-small;
        }
        .colorPreview {
          width: 100px;
          height: 50px;
          margin-bottom: $grid-base;
          border: $border-disabled;
        }
      }
    }
  }
}
