@import 'variables';

$background-color: #fafafa;

$sidebar-width: 60px;
$sidebar-width-open: 200px;
$sidebar-icon-size: 30px;

$header-height: 85px;
$header-background-color: $color-black;
$header-logo-width: 175px;
